<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>

<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="C:\Users\768711\Documents\surya\go green.png" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Kalai Surya</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Intern at Cognizant</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Coimbatore,India</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>kalaisurya.r@mail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>7708896956</p>
 	<p><i class="fas fa-heart fa-fw w3-margin-right w3-large w3-text-teal"></i>B+ve</p>
	<p><i class="fa fa-calendar fa-fw w3-margin-right w3-large w3-text-teal"></i>13-09-1997</p>

<br>
		
	
          <hr>
		
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>C</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>Java</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">70%</div>
            </div>
          </div>
          <p>Python</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>
          <p>MySQL</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">60%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>Tamil</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:90%"></div>
          </div>
          <p>Kannada</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:65%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2>Projects</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Design of portable tracking system for solar power generation</b></h5>
          <p>The  project focus on utilization of solar energy for power genration.Since the panel will rotate and absorb the energy by sensing the sun's position it is 40% more efficient than conventional 	solar.It is weatherproof and continuously monitors the wind speeds,automatically folding itself into secure position to prevent system damage.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Rationshop management system</b></h5>
          <p>The project is useful for consumers to avoid misuse of ration card.It contains the date,day and what are the things bought by the person during the particular day.The project is developed using 	java and GUI.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Coin based mobile charger</b></h5>
          <p>The project aims in charging the mobile phone is public places.It is useful in emergency when we are outside the house where we cannot able to charge the phone.It is similar to coin inserter for 	making calls. </p><br>
        </div>
      </div>
      <div class="w3-container w3-card w3-white">
	<h2>Achievements</h2>
	<p>Department topper during the second and third semester.</p>
	  <p>Won prize for presentation in advanced c programming.</p>
	  <p>certified for compeleting soft skills program coducted at our institutions by Infosys Campus Connect</p>
	    
	<h2>Educational Qualification</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Vijayalakshmi Matriculation Higher Secondary School</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2012 - 2013</h6>
          <p>SSLC  </p>
          <p>Percentage : 97%</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Vijayalakshmi Matriculation Higher Secondary School</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2015</h6>
          <p>HSC </p>
          <p>Percentage : 91.08%</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Karpagam College Of Engineering</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015 - 2019</h6>
          <p>Bachelor Degree </p>
          <p>CGPA : 9 (* Till seventh semester)</p>
          <hr>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
</footer>
</body>
</html>
